* {
    margin: 0;
    padding: 0;
} 

body {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}
.cover {
    height: 500px;
    background: url(top.jpg);
    background-size: cover;
}
#profile-list{
    width: 300px;
}


#skill-list{
    width: 300px;
}